<footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-4 col-md-6 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Muskegon Democratic Party</span>
            </a>
            <div class="footer-contact pt-3">
              <p>Muskegon County Democratic Party</p>
              <p>Muskegon, MI</p>
              <p class="mt-3"><strong>Phone:</strong> <span>231 375 7515</span></p>
              <p><strong>Email:</strong> <span>muskegondems@gmail.com</span></p>
            </div>
            <div class="social-links d-flex mt-4">
              <a href="https://www.facebook.com/MuskegonDems/" title="Facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/muskegoncountydems/" title="Instagram"><i class="bi bi-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="get-involved.html">Get Involved</a></li>
              <li><a href="elections.html">Elections & Voting</a></li>
              <li><a href="governance.html">Governance</a></li>
              <li><a href="people.html">People</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Resources</h4>
            <ul>
              <li><a href="events.html">Events</a></li>
              <li><a href="governance.html#agenda">Meeting Agendas</a></li>
              <li><a href="governance.html#resolutions">Resolutions</a></li>
              <li><a href="elections.html#district-maps">District Maps</a></li>
              <li><a href="#contact">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>
              Subscribe to our newsletter and receive the latest news about our
              products and services!
            </p>
            <form
              action="forms/newsletter.php"
              method="post"
              class="php-email-form"
            >
              <div class="newsletter-form">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </div>
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your subscription request has been sent. Thank you!
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">Muskegon Democratic Party</strong>
          <span>All Rights Reserved</span>
        </p>
        <div class="credits">
          Designed by <a href="https://Tavonni.com/">Tavonni</a>
        </div>
      </div>
    </footer>
